body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.Container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.34);
    overflow: hidden;
    text-align: center;
}

.backgroundFlip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    color: #fff;
    padding: 20px;
}

.content h3,
h1 {
    font-weight: bold;
}

.brand {
    font-weight: bold;
    font-size: 50px;
    background-color: rgba(11, 11, 11, 0.088);
}

.scrollDown a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(232, 224, 224);

}

.scroll {
    margin-top: 300px;
}

.MainContainer2 {
    width: 100%;
    height: 100%;
}

/* 
.MainContainer1{
    background-image: url("../img/Foodigo-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    margin-top: 30px;
 
}
.MainContainer1 img {
  opacity: 0.5; 
} */

.colum-2 {
    margin-top: 20px;
    color: red;
    font-size: 50px;
    font-weight: bolder;
}

.colum-2 h4 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.colum-3 {
    padding: 50px;
    border-radius: 10px;
    margin-top: 100px;
    font-size: 20px;
    color: black;

}

.colum-3 span i {
    color: rgb(9, 9, 9);
    font-size: 50px;
    font-weight: bold;
}

.stats-box-1 {
    font-size: 30px;
    font-weight: bold;
}

.stats-box-2 {
    color: rgba(254, 5, 5, 0.692);
}

.MainContainer2 {
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
    padding: 60px 0;
    margin-top: 20px;
    text-align: center;


}

.MainContainer2 h1 {
    font-size: 40px;
    font-weight: bold;
    color: red;
}

.MainContainer2 p {
    font-size: 15px;
    color: black;
    margin-top: 20px;
}

.subContainer2 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
}

.sub-container-items {
    font-size: 18px;
    font-weight: bold;
}

.sub-items {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.028);
    border-radius: 10px;
}

.container-items img {
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 300px;
    height: 300px;
}

.container-items:hover {
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.firstContainer {
    background-color: white;
    width: 100%;
    height: auto;

}

.firstContainer-1 {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.continerContent {
    color: black;
    z-index: 2;
}

.continerContent p {
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 30px;
}

.linkGroup,
.linkGroups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
    padding-left: 20px;
}

.linkGroup a,
.linkGroups a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: 2px black solid;
    padding: 10px 20px;
    color: black;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.linkGroup a:hover,
.linkGroups a:hover {
    background-color: rgb(245, 9, 9);
    color: black;
    transform: scale(0.95);
}



.stat-container {
    background-color: rgba(0, 0, 0, 0.173);
    border-radius: 30px;
}

.sub-content {
    background-color: rgba(0, 0, 0, 0.076);
    border-radius: 20px;
}

.sub-content p {
    font-weight: bold;
    font-size: 15px;
}

.MainContainer-3 {
    width: 100%;
    height: 100%;
    padding: 60px 0;
    text-align: center;
}

.sub-content-3 {
    background-color: rgba(0, 0, 0, 0.076);
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.sub-content-3 p {
    padding: 10px;
    font-size: 15px;
}

.imagetaps {
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.032);
}

.cardhead {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 20px;

}

.card img {
    height: 200px;
}

.card-img-top {
    width: 300px;
    height: 200px;
}

.card-title i {
    float: right;
}

.card-title {
    color: red;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 2px;
    float: left;
}

.cardContent {
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 5px;
    padding: 2px;
}

.cardlocation {
    background-color: rgba(255, 0, 0, 0.552);
    opacity: 0.9;
    font-weight: bold;
}

.cardlocation:hover {
    transform: scale(1.1) !important;
    background-color: rgba(255, 0, 0, 0.682);
    opacity: 5.5;
}

.cardrating {
    background-color: rgba(255, 247, 0, 0.466);
    opacity: 0.9;
    font-weight: bold;
    float: left;
}

.cardrating:hover {
    transform: scale(1.1) !important;
    background-color: rgba(255, 247, 0, 0.682);
    opacity: 5.5;
}

.cardoffer {
    background-color: rgba(0, 255, 4, 0.484);
    opacity: 0.9;
    font-weight: bold;
    float: left;
}

.cardoffer:hover {
    transform: scale(1.1) !important;
    background-color: rgba(0, 255, 30, 0.739);
    opacity: 5.5;
}

.sub-container-4 {
    column-gap: 40px;
    row-gap: 20px;
}

.sub-container-4 img:hover {
    transform: scale(1.07);
}

.nav-pills .nav-link {
    color: black;
}

.nav-pills .nav-link.active {
    background-color: red !important;
    color: white !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background: red !important;
    border-radius: 25px !important;
}

.carousel-control-next {
    right: -50px !important;
    opacity: 0.5 !important;

}

.carousel-control-prev {
    left: -50px !important;
    opacity: 0.5 !important;
}

.carousel-control-prev:hover,
.carousel-control-prev:active {
    transform: scale(1.17) !important;
    opacity: 5.5 !important;

}

.carousel-control-next:hover,
.carousel-control-next:active {
    transform: scale(1.17) !important;
    opacity: 5.5 !important;
}

/* 
.firstContainer-1 img:hover {
    transform: scale(1.05);
} */


@media (max-width: 768px) {
    .brand {
        font-size: 40px;
    }

    .scrollDown a {
        font-size: 24px;
    }

    h1 {
        font-size: 36px !important;
        text-align: center;
        padding: 0 20px;
    }


    .colum-2 {
        font-size: 35px;
    }

    .colum-2 h4 {
        font-size: 16px;
    }

    .MainContainer2 h1 {
        font-size: 30px;
    }

    .firstContainer-1 {
        position: relative;
        overflow: hidden;
        height: 75vh;
    }


    .linkGroup a,
    .linkGroups a {
        font-size: 12px;
        padding: 8px 12px;
    }

    .continerContent p {
        font-size: 20px;
        padding-left: 10px;
    }

    .linkGroup a:hover,
    .linkGroups a:hover {
        background-color: rgb(245, 9, 9);
        color: black;
        transform: scale(0.95);
    }

    .MainContainer-4 {
        font-size: 20px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        border-radius: 5px !important;
    }

    .carousel-control-prev span {
        width: 30px !important;
        height: 40px !important;
    }

    .carousel-control-next span {
        width: 30px !important;
        height: 40px !important;
    }


    .carousel-control-next {
        right: -5px !important;
        opacity: 0.3 !important;

    }

    .carousel-control-prev {
        left: -5px !important;
        opacity: 0.3 !important;
    }

    .orderPlace {
        margin: 20px;
    }
}

@media (max-width: 450px) {
    .brand {
        font-size: 30px;
    }

    .content h3,
    h1 {
        font-size: 15px;
    }

    .scrollDown a {
        font-size: 20px;
    }

    .colum-2 {
        font-size: 25px;
    }

    .colum-2 h4 {
        font-size: 14px;
    }

    .MainContainer2 h1 {
        font-size: 25px;
    }

    .stats {
        font-size: 10px;
        height: 10vh;
    }

    .stats-box-1 {
        font-size: 10px;
    }

    .colum-3 span i {
        font-size: 20px;
    }

    .firstContainer-1 {
        position: relative;
        overflow: hidden;
        height: 50vh;
    }

    .linkGroup a,
    .linkGroups a {
        font-size: 6px;
        padding: 4px 8px;
    }

    .continerContent p {
        font-size: 10px;
        padding-left: 10px;
    }

    .linkGroup a:hover,
    .linkGroups a:hover {
        background-color: rgb(245, 9, 9);
        color: black;
        transform: scale(0.95);
    }

    .ContainerItems {
        font-size: 5px;
        top: 200px;
    }

    .scroll {
        margin-top: 220px;
    }

    .subContainer1 img {
        width: 300px;
        height: 120px;
    }

    .MainContainer-4 {
        font-size: 10px;
    }

    .card-title {
        font-size: 15px;
    }

    .card-body h6 {
        font-size: 10px;
    }

    .card-body i {
        font-size: 10px !important;
        padding-right: 5px;
    }

    .card-body a {
        font-size: 10px !important;
        padding: 4px 8px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        border-radius: 5px !important;
    }

    .carousel-control-prev span {
        width: 30px !important;
        height: 40px !important;
    }

    .carousel-control-next span {
        width: 30px !important;
        height: 40px !important;
    }


    .carousel-control-next {
        right: -5px !important;
        opacity: 0.3 !important;

    }

    .carousel-control-prev {
        left: -5px !important;
        opacity: 0.3 !important;
    }

    .orderPlace {
        margin: 20px;
    }

}


/* 
<--------------orderPage------- */

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.navbar-nav {
    gap: 50px;
    position: absolute !important;
}

.navbar-nav li {
    font-size: 15px;
    font-weight: bold;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item,
.dropdown-divider {
    color: white;
}

.orderSummary {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.orderPlace {
    border: rgba(0, 0, 0, 0.256) 2px solid;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 40px;
}

.orderButton {
    background-color: red;
    color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}